@font-face {
  font-family: '1';
  src: url('./AlegreyaSans-Black.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: '2';
  src: url('./AlegreyaSans-Italic.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: '3';
  src: url('./AlegreyaSans-Bold.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: '4';
  src: url('./AlegreyaSans-ExtraBold.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: '5';
  src: url('./AlegreyaSans-Light.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: '6';
  src: url('./AlegreyaSans-Medium.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: '7';
  src: url('./AlegreyaSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: '8';
  src: url('./AlegreyaSans-Thin.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: '9';
  src: url('./Delius-Regular.ttf') format('truetype');
  font-weight: normal;
}
