@import '../../abstracts/mixins';

.about{
  display: flex;
    justify-content: center;
    align-items: center;
    font-family: '9';
    background-color: #a0f13582;
    @include containerWithMinHeight();
    @include large-fs();
  }
