@import '../../abstracts/_variables.scss';
@import '../../abstracts/_mixins.scss';
@import '../../fonts/fonts.scss';

.nav {
  font-family: '8';
  font-weight: 700;
  color: $secondary-color;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  @include container();
  @include large-fs();
}

.navigation_link {
  color: #000;
  list-style: none;
}

.navigation_link a {
  text-decoration: none;
}
