@import '../../abstracts/mixins';

.contacts{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;

  @include containerWithMinHeight ();
  @include large-fs();
}
